body {
  background-color: rgb(71, 71, 71);
  line-height: 1.6;
  font-family: "Montserrat", serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
/* container  */
/* intro  */
.header {
  font-size: 20px;
  padding-left: 200px;
  height: 62px;
  padding-right: 150px;
  background-image: url(../assets/imagine/header.png);
  border-bottom: 2px solid #19e619;
}
.header__nav {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  color: rgb(0, 190, 6);
  padding-top: 13px;
  font-size: 23px;
  text-decoration: none;
}
.nav {
  padding-top: 15px;
  font-size: 18px;
}
.nav__link {
  text-decoration: none;
  color: rgb(0, 156, 5);
  padding: 5px;
  border: 1px solid;
  border-radius: 10px;
}
/* main__bcg */

.main__bcg {
  margin: 0;
  text-align: center;
  position: relative;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.main__intro {
  height: 100%;
  background: url(../assets/imagine/3240ea0047cf8c97dd5b946f67927653.jpg) center no-repeat;
  filter: brightness(45%) blur(2px);
  background-size: cover;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
}
.main__text {
  color: #fff;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 70px;
  border-bottom: 5px solid rgb(0, 255, 0);
  border-radius: 7px;
  line-height: 80px;
}
.subtitle {
  padding-top: 5px;
  font-size: 15px;
  border-bottom: 5px solid rgb(0, 255, 0);
  border-radius: 30px;
}

.button__click {
  margin-top: 100px;
  font-size: 40px;
  padding: 10px 30px;
  border: 10px solid rgb(0, 255, 0);
  border-radius: 30px;
  background-color: transparent;
  color: #fff;
}
/* button__block */

.button__block {
  width: 100%;
  height: 200px;
  background: url(../assets/imagine/closebtn.png);
  filter: brightness(50%);
}
.menu__button {
  text-align: left;
  display: flex;
  flex-direction: row-reverse;
}
.close__button {
  color: #fff;
  text-underline-offset: 5px;
  text-decoration: underline 2px rgb(0, 255, 0);
}
.one__border {
  border-top: 3px solid rgb(2, 255, 2);
}
.nav__button {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  width: fit-content;
  margin-top: 70px;
  margin-right: 90px;
}

/* arena  */
.arena__table {
  height: 600px;
  width: 100%;
  border-top: 3px solid #05e905;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(12, 50px);
  background: url(../assets/imagine/Без\ имени-1.jpg);
  text-align: center;
}

.arena__text {
  grid-column: 3;
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.arena__text:nth-child(1) {
  background: url(../assets/imagine/nickname.png);
  grid-column: 2;
  grid-row: 2;
  font-weight: bold;
}
.arena__text:nth-child(2) {
  grid-column: 3;
  grid-row: 2;
  background-color: rgb(0, 4, 255);
  font-weight: bold;
  background: url(../assets/imagine/nickname.png);
}
.arena__text:nth-child(3) {
  grid-column: 2;
  grid-row: 3;
  background: url(../assets/imagine/topnickname.png);
  color: blue;
  word-spacing: 10px;
  border: 1px solid blue;
  background-color: black;
  margin-bottom: 2px;
}
.arena__text:nth-child(4) {
  grid-column: 2;
  grid-row: 4;
  background: url(../assets/imagine/topdruid.png);
  color: rgb(255, 106, 0);
  word-spacing: 10px;
  border: 1px solid rgb(255, 106, 0);
  /* border-left: 2px solid rgb(255, 106, 0); */
  /* border-right: 2px solid rgb(255, 106, 0); */
  background-color: black;
  margin-bottom: 2px;
}
.arena__text:nth-child(5) {
  grid-column: 2;
  grid-row: 5;
  color: rgb(255, 156, 172);
  background: url(../assets/imagine/toppaladin.png);
  border: 1px solid rgb(255, 156, 172);
  margin-bottom: 2px;
  word-spacing: 10px;
  background-color: black;
}
.arena__text:nth-child(6) {
  grid-column: 2;
  grid-row: 6;
  background-color: rgb(255, 252, 81);
  background: url(../assets/imagine/roguetop.png);
  border: 1px solid rgb(255, 252, 81);
  margin-bottom: 2px;
  word-spacing: 10px;
  background-color: black;
  color: rgb(255, 252, 81);
}
.arena__text:nth-child(7) {
  grid-column: 2;
  grid-row: 7;
  background: url(../assets/imagine/Druidhordetop.png);
  color: rgb(255, 106, 0);
  word-spacing: 10px;
  word-spacing: 10px;
  margin-bottom: 2px;
  border: 1px solid rgb(255, 106, 0);
  background-color: black;
}
.arena__text:nth-child(8) {
  grid-column: 3;
  grid-row: 3;
  color: rgb(255, 255, 255);
  border: 1px solid blue;
  background-color: black;
  margin-bottom: 2px;
}
.arena__text:nth-child(9) {
  grid-column: 3;
  grid-row: 4;
  background-color: rgb(0, 0, 0);
  margin-bottom: 2px;
  border: 1px solid rgb(255, 255, 255);
  color: #fff;

  margin-bottom: 2px;
  border: 1px solid rgb(255, 106, 0);
  background-color: black;
}
.arena__text:nth-child(10) {
  grid-column: 3;
  grid-row: 5;
  background-color: black;
  background-color: rgb(0, 0, 0);
  color: #fff;

  border: 1px solid rgb(255, 156, 172);
  margin-bottom: 2px;
}
.arena__text:nth-child(11) {
  grid-column: 3;
  grid-row: 6;
  background-color: black;
  background-color: rgb(0, 0, 0);
  color: #fff;
  border: 1px solid rgb(255, 252, 81);
  margin-bottom: 2px;
}
.arena__text:nth-child(12) {
  grid-column: 3;
  grid-row: 7;
  background-color: black;
  background-color: rgb(0, 0, 0);
  color: #fff;
  margin-bottom: 2px;
  border: 1px solid rgb(255, 106, 0);
}
.arena__text:nth-child(13) {
  grid-column: 3;
  grid-row: 8;
  background-color: black;
  background-color: rgb(0, 0, 0);
  color: #fff;
  border: 1px solid rgb(142, 130, 121);
  margin-bottom: 2px;
}
.arena__text:nth-child(14) {
  grid-column: 3;
  grid-row: 9;
  background-color: black;
  background-color: rgb(0, 0, 0);
  color: #fff;
  border: 1px solid rgb(255, 252, 81);
  margin-bottom: 2px;
}
.arena__text:nth-child(15) {
  grid-column: 3;
  grid-row: 10;
  background-color: black;
  background-color: rgb(0, 0, 0);
  color: #fff;
  border: 1px solid rgb(236, 63, 86);
  margin-bottom: 2px;
}
.arena__text:nth-child(16) {
  grid-column: 3;
  grid-row: 11;
  background-color: black;
  background-color: rgb(0, 0, 0);
  color: #fff;
  margin-bottom: 2px;
  border: 1px solid rgb(255, 106, 0);
}
.arena__text:nth-child(17) {
  grid-column: 2;
  grid-row: 8;
  background: url(../assets/imagine/wartop.png);
  color: rgb(142, 130, 121);
  word-spacing: 10px;
  word-spacing: 10px;
  border: 1px solid rgb(142, 130, 121);

  background-color: black;
  margin-bottom: 2px;
}
.arena__text:nth-child(18) {
  grid-column: 2;
  grid-row: 9;
  color: rgb(255, 252, 81);
  word-spacing: 10px;
  word-spacing: 10px;
  border: 1px solid rgb(255, 252, 81);
  /* border-left: 2px solid rgb(255, 106, 0); */
  /* border-right: 2px solid rgb(255, 106, 0); */
  margin-bottom: 2px;
  background: url(../assets/imagine/tworoguetop.png);
  background-color: black;
}
.arena__text:nth-child(19) {
  grid-column: 2;
  grid-row: 10;
  color: rgb(236, 63, 86);
  word-spacing: 10px;
  word-spacing: 10px;
  border: 1px solid rgb(236, 63, 86);
  /* border-left: 2px solid rgb(255, 106, 0); */
  /* border-right: 2px solid rgb(255, 106, 0); */
  margin-bottom: 2px;
  background: url(../assets/imagine/dktop.png);
  background-color: rgb(0, 0, 0);
}
.arena__text:nth-child(20) {
  grid-column: 2;
  grid-row: 11;
  background: url(../assets/imagine/feraltopdruidanal.png);
  color: rgb(255, 106, 0);
  word-spacing: 10px;
  border: 1px solid rgb(255, 106, 0);
  /* border-left: 2px solid rgb(255, 106, 0); */
  /* border-right: 2px solid rgb(255, 106, 0); */
  background-color: black;
  margin-bottom: 2px;
}
